*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: Gilroy;
}
html,
body
{
width: 100%;
height: 100%;
}

#main
{
    width: 100%;
    height: 100%;
    position: relative;
}
#overlay
{
    width: 100%;
    height: 100%;
    position: relative;
}

#left-nav
{
    position: absolute;
    background-color: #fff;
    height: 100%;
    width: 5vw;
    border-right: 1px solid darkgray;
    z-index: 999999999;
}
#nav-bar
{   
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-bar i{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.773);
}
#navigation
{   position: relative;
    width: 100%;
    height: 88%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.navi
{
    width: 80%;
    height: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.729);
}
.navi i{
    width: 100%;
    height: 100%;
    font-size: 40px;
}
.navi h1
{
    font-size: 15px;
    font-weight: 300;
}
#gifts img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

#top-nav
{
    position: absolute;
    height: 5vw;
    width: calc(100% - 5vw);
    left: 5vw;
    display: flex;
}
#tnl
{
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}
#search
{
    width: 40%;
    height: 60%;
    border-radius: 20px;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.433);
}
#searchdiv
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#circle
{
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background-color: #07142C;
    display : flex;
    justify-content: center;
    align-items: center;
}
#circle i
{
    color: white;
    font-size: 20px;
}
#search h1
{
    font-size: 12px;
    font-weight: 300;
    color: black;
    opacity: .7;
}
#tnr
{
    position: relative;
    height: 100%;
    display: flex;
    left: 12%;
    padding-left: 12%;
    width: calc(50% - 12%);
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#signin
{
    width: 22%;
    height: 45%;
    background-color: blue;
    border-radius: 4px;
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}
#signin h1
{
    color : white;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
}
#brows
{
    width: 3vw;
    height: 3vw;
    background-color: rgba(128, 128, 128, 0.293);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#brows i{
    font-size: 20px;
    color: black;

}
#cart
{
    width: 3vw;
    height: 3vw;
    background-color: rgba(128, 128, 128, 0.293);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cart i
{
    font-size: 20px;
    color: black;
}
#top
{
    position: absolute;
    width: calc(100% - 5vw);
    height: 40%;
    left: 5vw;
    top : 5vw;
    background-color: antiquewhite;
    pointer-events: none;
}
#bottum
{
    position: absolute;
    width: calc(100% - 5vw);
    height: calc(100% - 40% - 5vw);
    left: 5vw;
    top : calc(40% + 5vw);
    background-color: rgb(104, 158, 140);
}
#mainu-text {
    position: absolute;
    z-index: 99;
    height: 100%;
    overflow-y: auto;
    gap: 4vh;
    width: 40vw;
    padding-left: 7vw;
    background-color:white;
    display: flex;
    flex-direction: column;
    left: -100%;
    opacity: 0;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .5s;
}
#mainu-text h3{
    padding-left: 2vw;
}
#mainu-text::-webkit-scrollbar{display: none;}


#mainu-text a{
    padding-left: 3vw;
    width: 90%;
    display: block;
    text-decoration: none;
    font-weight: 300;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .5s;
    color: black;
}
#mainu-text a:hover{
    background-color: black;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 15px;
    color: #fff;
}
#mainu-text h3:hover
{ 
    font-size: 20px;
}


.gift{
    position: relative;
    height: 100%;
    width: 45vw;
   left: 5vw;
   padding-left: 6vw;
   overflow-y: auto;
   overflow-x: hidden;
    background-color: #fff;
    z-index: 99;
    left: -100%;
    opacity: 0;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .5s;

    
}
.gift::-webkit-scrollbar{display: none;}
.gift h1{
    margin-top: 30px;
    font-size: 40px;
    font-weight: 500;
    left: 10vw;
    padding-bottom: 1vw;
}
.gift h2{
    font-size: 22px;
    white-space: nowrap;
    font-weight: 300;
    
    padding-bottom: 1vw;

}
.gift  .hadding{
   color: rgb(86, 117, 211);
    padding-left: 32%;
     margin: 30px;
     font-size: 25px;
     font-weight: 500;
 }



.giftCart{

    height: 14vw;
    width: 16vw;
    margin: 1vw;
    display:inline-block;
    text-align: center;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}
.giftCart h4{
    padding-top: 5px;
    font-weight: 400;

}
.giftCart h4:hover{
    color: orange;
}

.giftCart:hover{
    scale:1.1;
}

#image{
   
    height: 12vw;
    width: 16vw;
    overflow: hidden;
}
#image img{
   
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#trending{
      position: absolute;
     height: 100%;
     width: 45vw;
     padding-left: 6vw;
     top: 0;
     left: 5vw;
     left: -100%;
     overflow-x: hidden;
     overflow-y: auto;
     
     background-color: #fff;
}
#trending h1{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 400;
}
#trending a{
    text-decoration: none;
    font-weight: 500;
}
#trending a:hover{
    color: orange;
}
#trending .creator{
    margin: 2vw;
    position: relative;
    display: inline-block;
    height: 12vw;
    width: 14vw;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);

   overflow: hidden;
    background-size: cover;
}
#trending .hadding{
   
    padding-left: 35%;
     margin: 30px;
     font-size: 25px;
     font-weight: 500;
 }
#trending .creator img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#trending .creator:hover{
    scale: 1.1;
}

#trending .creator .circle{
    position: absolute;
    bottom:0%;
    right:0%;
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    background-color: #fff;
}
#mystuff{ 
    position: absolute;
    height: 100%;
    width: 45vw;
    padding-left: 5vw;
   
   top: 0;
  left: 4vw;
  left: -100%;
   overflow-x: hidden;
   overflow-y: auto;
    background-color: #fff;
    text-align: center;

}
#mystuff h1{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
}#mystuff p{
    font-size: small;
      font-weight: 500; 
     letter-spacing: 1px; 
    margin: 5px; 
    text-align: left; 
    padding-left: 20px;  

}


#mystuff video{
    position:relative;
    top:20px;
    margin: 20px 0;
    height: 400px;
    width: 100%;
    border:none;
}
.btn{
    color: #fff;
    padding: 15px 40px;
    margin: 12px;
    font-size: 20px;

    /* border-radius: 15px; */
    border: none;
    background-color: royalblue;
}
.btn:hover
{
    color: royalblue;
    background-color: #fff;
    border: 2px solid blue;
}
#mystuff h3{
   margin: 40px;
    font-size: 25px;
}

#mystuff h4{
    font-weight: 400;
    line-height: 35px;
    font-size: 20px;
}
#mystuff #myart{

 position:relative;
    
    margin: 20px 0;
    height: 400px;
    width: 100%;
    border:none;
    overflow: hidden;
}
#myartt img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#mystuff::-webkit-scrollbar{display: none;}
#liveside{ 
    position: absolute;
    height: 100%;
    width: 45vw;
    padding-left: 5vw;
    overflow-x: hidden;

   
   top: 0;
         left: 4vw;
        left: -100%;
  
    background-color: #fff;
    text-align: center;

}
#liveside h1{
    white-space: nowrap;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 40px;
    margin-top: 20px;
}
#liveside p{
    font-weight: 500;
    opacity: .8;
    text-align: left;
    margin-bottom: 40px;
}
#liveside li{
    text-align: left;
    font-weight: 500;
   
    line-height: 25px;
   
}


#liveside h3{
    position: absolute;
    top:50%;
    left: 65px;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
}
#liveside button{
    position:absolute;
    margin-top: 30px;
    padding: 20px 30px;
    color:#fff;
    font-weight: 600;
    background-color: rgba(7, 52, 188, 0.806);
    border: none;
    top:55%;
    left: 65px;
}
#liveside a{
    position: absolute;
    left: 65px;
    top:78%;
    color: #0f3f97;
    text-decoration: none;
}
#liveside #help {
    position: absolute;
    left: 40%;
    top:90%;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
}
#liveside #image{
    position: absolute;
    top:110%;
    background-color: black;
    width: 100%;
   height: 60%;
   overflow: hidden;
  
  
}
#liveside #image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.masterpice{
    position: absolute;
    width: 96%;
    display: flex;
    gap: 20px;
    top: 180%;
   
}
.masterpice1{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.master{
    width: 250px;
    height: 200px;
    margin: 20px 0px;
    /* background-color: #0f3f97; */
}
.image{
    width: 250px;
    height: 170px;
    overflow: hidden;   
    /* background-color: black; */

}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.master h4{
    margin-top: 10px;
    font-weight: 500;
}
.master h4:hover{
    color: burlywood;
    font-size: 18px;

}
.image img:hover{
    opacity: .5;
}

.masterpice{
    position: absolute;
    width: 96%;
    display: flex;
    gap: 20px;
    top: 180%;
   
}
.masterpice1{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.master{
    width: 250px;
    height: 200px;
    margin: 20px 0px;
    /* background-color: #0f3f97; */
}
.image{
    width: 250px;
    height: 170px;
    overflow: hidden;   
    /* background-color: black; */

}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.master h4{
    margin-top: 10px;
    font-weight: 500;
}
.master h4:hover{
    color: burlywood;
    font-size: 18px;

}
.image img:hover{
    opacity: .5;
}
#exploreicon{ 
    position: absolute;
    height: 100%;
    width: 45vw;
 padding-left: 4vw;
   
    top: 0;
   left: 4vw;
   left: -100%;
     overflow-x: hidden;
     overflow-y: auto;
   background-color: #fff;
    
}
#exploreicon h1{
    font-size: 40px;
    font-weight: 500;
    margin: 20px 0;
}
#exploreicon a{
  
   text-decoration: none;
}
#exploreicon .hadding{
   
   padding-left: 30%;
    margin: 20px;
    font-size: 25px;
    font-weight: 500;
}

.deal{
    
    width: 96%;
    display: flex;
    gap: 20px;
   
   
}
.deal1{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.dmaster{
    width: 250px;
    height: 200px;
    margin: 20px 0px;
    /* background-color: #0f3f97; */
}
.dimage{
    width: 250px;
    height: 170px;
    overflow: hidden;   
    /* background-color: black; */

}
.dimage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.dmaster h4{
    margin-top: 10px;
    font-weight: 500;
}
.dmaster h4:hover{
    color: burlywood;
    font-size: 18px;

}
.dimage img:hover{
    opacity: .5;
}
    
#chating{
    position: absolute;
    height: 100%;
    width: 45vw;
    padding-left: 4vw;
    overflow-x: hidden;

   
   top: 0;
         left: 4vw;
        left: -100%;
  
    background-color: #fff;
   
}
#chating h1{
    font-size: 40px;
    font-weight: 500;
    margin: 20px 0;
}
#chating a{
  
   text-decoration: none;
}
#chating .hadding{
   
    padding-left: 30%;
     margin: 20px;
     font-size: 25px;
     font-weight: 500;
 }
 #chating .blank{
    display: flex;
    gap: 30px;
 }
 .blank .blankImage{
    height: 140px;
    width: 125px;
    overflow: hidden;
    background-color: black;
 }
 .blank .blankImage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
 }

 #shell{
    position: absolute;
    height: 100%;
    width: 45vw;
    padding-left: 4vw;
    overflow-x: hidden;

   
   top: 0;
         left: 4vw;
        left: -100%;
  
    background-color: #fff;
   
}
#shell h1{
    font-size: 40px;
    font-weight: 400;
    margin: 20px 0;
}
#shell button{
    margin-top: 20px;
 padding: 15px  40px;
 font-size: 18px;
 border: none;
 color: #fff;
 font-weight: 600;
 background-color: rgba(7, 52, 188, 0.893);
}
#shell button:hover{
    background-color: royalblue;
}

#shell .hadding{
   
   padding-left: 30%;
    margin: 20px;
    font-size: 25px;
    font-weight: 500;
}
#resources {
    display: flex;
  gap: 30px;
}
#resources .resourceColunm{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

#resources .resource{
    height: 160px;
    width: 300px;
    margin-bottom: 20px;
     background-color: black;

}
#resources .resource .Rimages{
    height: 140px;
    width: 300px;
    overflow: hidden;
     background-color:red;

}
#resources .resource .Rimages img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#resources .resource h4{
    font-weight: 500;
    margin-top: 20px;
}


 .products{
    display: flex;
    gap: 20px;
    flex-direction: row;
}
 .products .product{
    margin-bottom: 20px;
    height: 130px ;
    width: 200px;
    overflow: hidden;
    background-color: #0f3f97;
}
.products .product img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.products .product:hover{
    scale: 1.1;
}
#topProduct{
    display: flex;

}
#topProduct .images{
height: 140px;
width: 120px;
background-color: green;
}